<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>testCss3_selector</title>
<link rel="stylesheet" type="text/css" href="/testc/css/sample4.css">
</head>
<body>
<h1>css3 selector test</h1>
<img alt="" src="/testc/images/ph1_s.jpg" width="115" height="77" border="0"><br>
<img alt="" src="/testc/images/ph2.jpg" width="115" height="77" border="0"><br>
<img alt="" src="/testc/images/ph3_s.jpg" width="115" height="77" border="0"><br>
<img alt="" src="/testc/images/ph6.jpg" width="115" height="77" border="0"><br>
</body>
</html>